# Exploratory data analysis

In [5]:
#importing the libraries
import pandas as pd
import seaborn as sns

In [6]:
#importing data
data = pd.read_csv("3. churn_prediction.csv")

In [7]:
#printing first 5 instances
data.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn,last_transaction
0,1,2101,66,Male,0.0,self_employed,187.0,2,755,1458.71,...,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0,2019-05-21
1,2,2348,35,Male,0.0,self_employed,NaN,2,3214,5390.37,...,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0,2019-11-01
2,4,2194,31,Male,0.0,salaried,146.0,2,41,3913.16,...,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0,NaT
3,5,2329,90,NaN,NaN,self_employed,1020.0,2,582,2291.91,...,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1,2019-08-06
4,6,1579,42,Male,2.0,self_employed,1494.0,3,388,927.72,...,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1,2019-11-03

In [8]:
#printing last 5 instances
data.tail()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn,last_transaction
28377,30297,2325,10,Female,0.0,student,1020.0,2,1207,1076.43,...,2282.19,2787.70,0.30,0.30,0.30,0.30,1076.43,1076.43,0,2019-10-22
28378,30298,1537,34,Female,0.0,self_employed,1046.0,2,223,3844.10,...,3668.83,3865.55,1.71,2.29,901.00,1014.07,3738.54,3690.32,0,2019-12-17
28379,30299,2376,47,Male,0.0,salaried,1096.0,2,588,65511.97,...,53444.81,21925.81,4666.84,3883.06,168.23,71.80,61078.50,57564.24,1,2019-12-31
28380,30300,1745,50,Male,3.0,self_employed,1219.0,3,274,1625.55,...,1683.20,1857.42,0.20,0.20,0.20,0.20,1625.55,1625.55,0,NaT
28381,30301,1175,18,Male,0.0,student,1232.0,2,474,2107.05,...,3213.44,4447.45,0.11,7.44,714.40,1094.09,2402.62,3260.58,1,2019-11-02

In [9]:
#checking the row and columns of data
data.shape

(28382, 21)

In [10]:
# checking the columns of data
data.columns

Index(['customer_id', 'vintage', 'age', 'gender', 'dependents', 'occupation',
       'city', 'customer_nw_category', 'branch_code', 'current_balance',
       'previous_month_end_balance', 'average_monthly_balance_prevQ',
       'average_monthly_balance_prevQ2', 'current_month_credit',
       'previous_month_credit', 'current_month_debit', 'previous_month_debit',
       'current_month_balance', 'previous_month_balance', 'churn',
       'last_transaction'],
      dtype='object')

# variable identification and typecasting

In [11]:
#checkiing the closer look of datatype
data.dtypes

customer_id                         int64
vintage                             int64
age                                 int64
gender                             object
dependents                        float64
occupation                         object
city                              float64
customer_nw_category                int64
branch_code                         int64
current_balance                   float64
previous_month_end_balance        float64
average_monthly_balance_prevQ     float64
average_monthly_balance_prevQ2    float64
current_month_credit              float64
previous_month_credit             float64
current_month_debit               float64
previous_month_debit              float64
current_month_balance             float64
previous_month_balance            float64
churn                               int64
last_transaction                   object
dtype: object

In [12]:
#identifying the variables having datatypes integer
data.dtypes[data.dtypes == 'int64']

customer_id             int64
vintage                 int64
age                     int64
customer_nw_category    int64
branch_code             int64
churn                   int64
dtype: object

In [13]:
#converting churn to category
data['churn'] = data['churn'].astype('category')
data['branch_code'] = data['branch_code'].astype('category')
data['customer_nw_category'] = data['customer_nw_category'].astype('category')
data.dtypes[data.dtypes == 'int64']

customer_id    int64
vintage        int64
age            int64
dtype: object

In [14]:
#finding 
data.dtypes[data.dtypes == 'float64']

dependents                        float64
city                              float64
current_balance                   float64
previous_month_end_balance        float64
average_monthly_balance_prevQ     float64
average_monthly_balance_prevQ2    float64
current_month_credit              float64
previous_month_credit             float64
current_month_debit               float64
previous_month_debit              float64
current_month_balance             float64
previous_month_balance            float64
dtype: object

In [15]:
#converting city to category
data['city'] = data['city'].astype('category')
data['dependents'] = data['dependents'].astype('Int64')
data[['dependents','city']].dtypes

dependents       Int64
city          category
dtype: object

In [16]:
data.dtypes

customer_id                          int64
vintage                              int64
age                                  int64
gender                              object
dependents                           Int64
occupation                          object
city                              category
customer_nw_category              category
branch_code                       category
current_balance                    float64
previous_month_end_balance         float64
average_monthly_balance_prevQ      float64
average_monthly_balance_prevQ2     float64
current_month_credit               float64
previous_month_credit              float64
current_month_debit                float64
previous_month_debit               float64
current_month_balance              float64
previous_month_balance             float64
churn                             category
last_transaction                    object
dtype: object

In [17]:
data[['customer_id','vintage','age','gender']].head()

   customer_id  vintage  age gender
0            1     2101   66   Male
1            2     2348   35   Male
2            4     2194   31   Male
3            5     2329   90    NaN
4            6     1579   42   Male

# removing null values

In [18]:
data.isnull().sum()

customer_id                          0
vintage                              0
age                                  0
gender                             525
dependents                        2463
occupation                          80
city                               803
customer_nw_category                 0
branch_code                          0
current_balance                      0
previous_month_end_balance           0
average_monthly_balance_prevQ        0
average_monthly_balance_prevQ2       0
current_month_credit                 0
previous_month_credit                0
current_month_debit                  0
previous_month_debit                 0
current_month_balance                0
previous_month_balance               0
churn                                0
last_transaction                     0
dtype: int64

In [19]:
df = data.dropna()
df

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn,last_transaction
0,1,2101,66,Male,0,self_employed,187.0,2,755,1458.71,...,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0,2019-05-21
2,4,2194,31,Male,0,salaried,146.0,2,41,3913.16,...,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0,NaT
4,6,1579,42,Male,2,self_employed,1494.0,3,388,927.72,...,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1,2019-11-03
5,7,1923,42,Female,0,self_employed,1096.0,2,1666,15202.20,...,15211.29,13798.82,0.36,0.36,857.50,286.07,15719.44,15349.75,0,2019-11-01
6,8,2048,72,Male,0,retired,1020.0,1,1,7006.93,...,7859.74,11232.37,0.64,0.64,1299.64,439.26,7076.06,7755.98,0,2019-09-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28377,30297,2325,10,Female,0,student,1020.0,2,1207,1076.43,...,2282.19,2787.70,0.30,0.30,0.30,0.30,1076.43,1076.43,0,2019-10-22
28378,30298,1537,34,Female,0,self_employed,1046.0,2,223,3844.10,...,3668.83,3865.55,1.71,2.29,901.00,1014.07,3738.54,3690.32,0,2019-12-17
28379,30299,2376,47,Male,0,salaried,1096.0,2,588,65511.97,...,53444.81,21925.81,4666.84,3883.06,168.23,71.80,61078.50,57564.24,1,2019-12-31
28380,30300,1745,50,Male,3,self_employed,1219.0,3,274,1625.55,...,1683.20,1857.42,0.20,0.20,0.20,0.20,1625.55,1625.55,0,NaT
28381,30301,1175,18,Male,0,student,1232.0,2,474,2107.05,...,3213.44,4447.45,0.11,7.44,714.40,1094.09,2402.62,3260.58,1,2019-11-02

In [20]:
df.isnull().sum()

customer_id                       0
vintage                           0
age                               0
gender                            0
dependents                        0
occupation                        0
city                              0
customer_nw_category              0
branch_code                       0
current_balance                   0
previous_month_end_balance        0
average_monthly_balance_prevQ     0
average_monthly_balance_prevQ2    0
current_month_credit              0
previous_month_credit             0
current_month_debit               0
previous_month_debit              0
current_month_balance             0
previous_month_balance            0
churn                             0
last_transaction                  0
dtype: int64

# checking the correlation between variables

In [21]:
#calling the correlation matrix
correlation = df.corr()

C:\Users\sachin\AppData\Local\Temp\ipykernel_16148\1115759845.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation = df.corr()

In [22]:
correlation

,customer_id,vintage,age,dependents,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance
customer_id,1.000000,-0.009851,-0.002164,-0.008452,0.010154,0.008276,0.006427,0.006447,0.004516,-0.003846,0.005702,-0.004764,0.007659,0.006567
vintage,-0.009851,1.000000,0.004285,0.005553,-0.000683,-0.001114,-0.002283,0.002660,-0.003911,0.000593,-0.003311,-0.005504,-0.000240,-0.002987
age,-0.002164,0.004285,1.000000,0.009401,0.057627,0.062228,0.071537,0.078919,0.021527,0.022646,0.021549,0.020969,0.062042,0.067196
dependents,-0.008452,0.005553,0.009401,1.000000,-0.001211,0.002339,0.004001,0.004452,0.003573,0.026315,0.008612,0.033751,0.001670,0.003837
current_balance,0.010154,-0.000683,0.057627,-0.001211,1.000000,0.787086,0.846875,0.630420,0.054910,0.107949,0.069846,0.156883,0.935804,0.791662
previous_month_end_balance,0.008276,-0.001114,0.062228,0.002339,0.787086,1.000000,0.892446,0.696031,0.054558,0.213369,0.097279,0.204007,0.896127,0.897246
average_monthly_balance_prevQ,0.006427,-0.002283,0.071537,0.004001,0.846875,0.892446,1.000000,0.779495,0.056337,0.156713,0.087436,0.202093,0.909750,0.980690
average_monthly_balance_prevQ2,0.006447,0.002660,0.078919,0.004452,0.630420,0.696031,0.779495,1.000000,0.077775,0.116883,0.081636,0.145025,0.687219,0.737133
current_month_credit,0.004516,-0.003911,0.021527,0.003573,0.054910,0.054558,0.056337,0.077775,1.000000,0.158370,0.942378,0.107198,0.058019,0.059353
previous_month_credit,-0.003846,0.000593,0.022646,0.026315,0.107949,0.213369,0.156713,0.116883,0.158370,1.000000,0.148277,0.741302,0.155122,0.195333
current_month_debit,0.005702,-0.003311,0.021549,0.008612,0.069846,0.097279,0.087436,0.081636,0.942378,0.148277,1.000000,0.144584,0.111472,0.082228
previous_month_debit,-0.004764,-0.005504,0.020969,0.033751,0.156883,0.204007,0.202093,0.145025,0.107198,0.741302,0.144584,1.000000,0.180438,0.225774
current_month_balance,0.007659,-0.000240,0.062042,0.001670,0.935804,0.896127,0.909750,0.687219,0.058019,0.155122,0.111472,0.180438,1.000000,0.863821
previous_month_balance,0.006567,-0.002987,0.067196,0.003837,0.791662,0.897246,0.980690,0.737133,0.059353,0.195333,0.082228,0.225774,0.863821,1.000000